<footer>

  <!-- NIVEL 1 -->
  <div class="bg-glaucous-100 md:text-white sm:text-stone-900 px-4 py-6">
    <div class="grid grid-cols-1 md:grid-cols-4 sm:gap-0 md:gap-12 mx-8 sm:mx-0 md:mx-32">

      <!-- PANTALLA PEQUEÑA -->
      <!-- Columna #1 -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab [header]="'LIFE_TITLE' | translate | capitalize">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="/god" class="hover:text-sky-800">{{ 'LIFE_GOD' | translate | capitalize }}</a></li>
            <li><a href="/church" class="hover:text-sky-800">{{ 'LIFE_CHURCH' | translate | capitalize }}</a></li>
            <li><a href="/tradition" class="hover:text-sky-800">{{ 'LIFE_TRADITION' | translate | capitalize }}</a></li>
            <li><a href="/bible" class="hover:text-sky-800">{{ 'LIFE_BIBLE' | translate | capitalize }}</a></li>
            <li><a href="/liturgy" class="hover:text-sky-800">{{ 'LIFE_LITURGY' | translate | capitalize }}</a></li>
            <li><a href="/mysteries" class="hover:text-sky-800">{{ 'LIFE_MYSTERIES' | translate | capitalize }}</a></li>
            <li><a href="/virgin-mary" class="hover:text-sky-800">{{ 'LIFE_MARY' | translate | capitalize }}</a></li>
            <li><a href="/saints" class="hover:text-sky-800">{{ 'LIFE_SAINTS' | translate | capitalize }}</a></li>
            <li><a href="/fathers" class="hover:text-sky-800">{{ 'LIFE_FATHERS' | translate | capitalize }}</a></li>
            <li><a href="/clergy-laity" class="hover:text-sky-800">{{ 'LIFE_CLERGY' | translate | capitalize }}</a></li>
            <li><a href="/news" class="hover:text-sky-800">{{ 'LIFE_NEWS' | translate | capitalize }}</a></li>
            <li><a href="/events" class="hover:text-sky-800">{{ 'LIFE_EVENTS' | translate | capitalize }}</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- Columna #2/Primera Fila -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab [header]="'DOCTRINE_TITLE' | translate | capitalize ">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="/councils" class="hover:text-sky-800">{{ 'DOCTRINE_COUNCILS' | translate | capitalize }}</a></li>
            <li><a href="/canons" class="hover:text-sky-800">{{ 'DOCTRINE_CANONS' | translate | capitalize }}</a></li>
            <li><a href="/creed" class="hover:text-sky-800">{{ 'DOCTRINE_CREED' | translate | capitalize }}</a></li>
            <li><a href="/orthodoxy" class="hover:text-sky-800">{{ 'DOCTRINE_ORTHODOXY' | translate | capitalize }}</a></li>
            <li><a href="/autocephaly" class="hover:text-sky-800">{{ 'DOCTRINE_AUTOCEPHALY' | translate | capitalize }}</a></li>
            <li><a href="/unity" class="hover:text-sky-800">{{ 'DOCTRINE_UNITY' | translate | capitalize }}</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- Columna #2/Segunda Fila -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab [header]="'MONASTERY_TITLE' | translate | capitalize">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="/history" class="hover:text-sky-800">{{ 'MONASTERY_HISTORY' | translate | capitalize }}</a></li>
            <li><a href="/blueprint" class="hover:text-sky-800">{{ 'MONASTERY_BLUEPRINTS' | translate | capitalize }}</a></li>
            <li><a href="/ecology" class="hover:text-sky-800">{{ 'MONASTERY_ECOLOGY' | translate | capitalize }}</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- Columna #3 -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab [header]="'QUESTIONS_TITLE' | translate | capitalize">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="/question-origin" class="hover:text-sky-800">{{ 'QUESTIONS_ORIGIN' | translate | capitalize }}</a></li>
            <li><a href="/question-interpretation" class="hover:text-sky-800">{{ 'QUESTIONS_INTERPRETATION' | translate | capitalize }}</a></li>
            <li><a href="/question-adoration" class="hover:text-sky-800">{{ 'QUESTIONS_ADORATION' | translate | capitalize }}</a></li>
            <li><a href="/question-veneration" class="hover:text-sky-800">{{ 'QUESTIONS_VENERATION' | translate | capitalize }}</a></li>
            <li><a href="/question-intercession" class="hover:text-sky-800">{{ 'QUESTIONS_INTERCESSION' | translate | capitalize }}</a></li>
            <li><a href="/question-relics" class="hover:text-sky-800">{{ 'QUESTIONS_RELICS' | translate | capitalize }}</a></li>
            <li><a href="/question-icons" class="hover:text-sky-800">{{ 'QUESTIONS_ICONS' | translate | capitalize }}</a></li>
            <li><a href="/question-join" class="hover:text-sky-800">{{ 'QUESTIONS_JOIN' | translate | capitalize }}</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- Columna #4 -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab [header]="'PROJECTS_TITLE' | translate | capitalize">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="/bible-study" class="hover:text-sky-800">{{ 'PROJECTS_STUDY' | translate | capitalize }}</a></li>
            <li><a href="/editorial" class="hover:text-sky-800">{{ 'PROJECTS_EDITORIAL' | translate | capitalize }}</a></li>
            <li><a href="/iconography" class="hover:text-sky-800">{{ 'PROJECTS_ICONOGRAPHY' | translate | capitalize }}</a></li>
            <li><a href="/health-therapies" class="hover:text-sky-800">{{ 'PROJECTS_HEALTH' | translate | capitalize }}</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- PANTALLA GRANDE -->
      <!-- Columna #1 -->
      <div class="hidden lg:block">
        <div class="flex flex-col space-y-2">
          <h3 class="font-semibold mb-2">{{ 'LIFE_TITLE' | translate | capitalize }}</h3>
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="/god" class="hover:text-sky-800">{{ 'LIFE_GOD' | translate | capitalize }}</a></li>
            <li><a href="/church" class="hover:text-sky-800">{{ 'LIFE_CHURCH' | translate | capitalize }}</a></li>
            <li><a href="/tradition" class="hover:text-sky-800">{{ 'LIFE_TRADITION' | translate | capitalize }}</a></li>
            <li><a href="/bible" class="hover:text-sky-800">{{ 'LIFE_BIBLE' | translate | capitalize }}</a></li>
            <li><a href="/liturgy" class="hover:text-sky-800">{{ 'LIFE_LITURGY' | translate | capitalize }}</a></li>
            <li><a href="/mysteries" class="hover:text-sky-800">{{ 'LIFE_MYSTERIES' | translate | capitalize }}</a></li>
            <li><a href="/virgin-mary" class="hover:text-sky-800">{{ 'LIFE_MARY' | translate | capitalize }}</a></li>
            <li><a href="/saints" class="hover:text-sky-800">{{ 'LIFE_SAINTS' | translate | capitalize }}</a></li>
            <li><a href="/fathers" class="hover:text-sky-800">{{ 'LIFE_FATHERS' | translate | capitalize }}</a></li>
            <li><a href="/clergy-laity" class="hover:text-sky-800">{{ 'LIFE_CLERGY' | translate | capitalize }}</a></li>
            <li><a href="/news" class="hover:text-sky-800">{{ 'LIFE_NEWS' | translate | capitalize }}</a></li>
            <li><a href="/events" class="hover:text-sky-800">{{ 'LIFE_EVENTS' | translate | capitalize }}</a></li>
          </ul>
        </div>
      </div>

      <!-- Columna #2 -->
      <div class="grid gap-4">
        <!-- Primera Fila -->
        <div class="hidden lg:block">
          <div class="flex flex-col space-y-2">
            <h3 class="font-semibold mb-2">{{ 'DOCTRINE_TITLE' | translate | capitalize }}</h3>
            <ul class="list-none p-0 ml-6 text-sm">
              <li><a href="/councils" class="hover:text-sky-800">{{ 'DOCTRINE_COUNCILS' | translate | capitalize }}</a></li>
              <li><a href="/canons" class="hover:text-sky-800">{{ 'DOCTRINE_CANONS' | translate | capitalize }}</a></li>
              <li><a href="/creed" class="hover:text-sky-800">{{ 'DOCTRINE_CREED' | translate | capitalize }}</a></li>
              <li><a href="/orthodoxy" class="hover:text-sky-800">{{ 'DOCTRINE_ORTHODOXY' | translate | capitalize }}</a></li>
              <li><a href="/autocephaly" class="hover:text-sky-800">{{ 'DOCTRINE_AUTOCEPHALY' | translate | capitalize }}</a></li>
              <li><a href="/unity" class="hover:text-sky-800">{{ 'DOCTRINE_UNITY' | translate | capitalize }}</a></li>
            </ul>
          </div>
        </div>
        <!-- Segunda Fila -->
        <div class="hidden lg:block">
          <div class="flex flex-col space-y-2">
            <h3 class="font-semibold mb-2">{{ 'MONASTERY_TITLE' | translate | capitalize }}</h3>
            <ul class="list-none p-0 ml-6 text-sm">
              <li><a href="/history" class="hover:text-sky-800">{{ 'MONASTERY_HISTORY' | translate | capitalize }}</a></li>
              <li><a href="/blueprints" class="hover:text-sky-800">{{ 'MONASTERY_BLUEPRINTS' | translate | capitalize }}</a></li>
              <li><a href="/ecology" class="hover:text-sky-800">{{ 'MONASTERY_ECOLOGY' | translate | capitalize }}</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Columna #3 -->
      <div class="hidden lg:block">
        <div class="flex flex-col space-y-2">
          <h3 class="font-semibold mb-2">{{ 'QUESTIONS_TITLE' | translate | capitalize }}</h3>
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="/question-origin" class="hover:text-sky-800">{{ 'QUESTIONS_ORIGIN' | translate | capitalize }}</a></li>
            <li><a href="/question-interpretation" class="hover:text-sky-800">{{ 'QUESTIONS_INTERPRETATION' | translate | capitalize }}</a></li>
            <li><a href="/question-adoration" class="hover:text-sky-800">{{ 'QUESTIONS_ADORATION' | translate | capitalize }}</a></li>
            <li><a href="/question-veneration" class="hover:text-sky-800">{{ 'QUESTIONS_VENERATION' | translate | capitalize }}</a></li>
            <li><a href="/question-intercession" class="hover:text-sky-800">{{ 'QUESTIONS_INTERCESSION' | translate | capitalize }}</a></li>
            <li><a href="/question-relics" class="hover:text-sky-800">{{ 'QUESTIONS_RELICS' | translate | capitalize }}</a></li>
            <li><a href="/question-icons" class="hover:text-sky-800">{{ 'QUESTIONS_ICONS' | translate | capitalize }}</a></li>
            <li><a href="/question-join" class="hover:text-sky-800">{{ 'QUESTIONS_JOIN' | translate | capitalize }}</a></li>
          </ul>
        </div>
      </div>

      <!-- Columna #4 -->
      <div class="hidden lg:block">
        <div class="flex flex-col space-y-2">
          <h3 class="font-semibold mb-2">{{ 'PROJECTS_TITLE' | translate | capitalize }}</h3>
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="/bible-study" class="hover:text-sky-800">{{ 'PROJECTS_STUDY' | translate | capitalize }}</a></li>
            <li><a href="/editorial" class="hover:text-sky-800">{{ 'PROJECTS_EDITORIAL' | translate | capitalize }}</a></li>
            <li><a href="/iconography" class="hover:text-sky-800">{{ 'PROJECTS_ICONOGRAPHY' | translate | capitalize }}</a></li>
            <li><a href="/health-therapies" class="hover:text-sky-800">{{ 'PROJECTS_HEALTH' | translate | capitalize }}</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>


  <!-- NIVEL 2 -->
  <div class="bg-lapis-lazuli-700 p-4">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-4 my-8 max-w-screen-lg mx-8 sm:mx-0 md:mx-32">

      <!-- Columnas #1-3 -->
      <div class="col-span-3 flex flex-col space-y-4">
        <h2 class="text-xl font-semibold text-white mb-2">{{ 'GOC_TITLE' | translate | capitalize }}</h2>
        <p class="text-sm text-white">{{ 'GOC_DESCRIPTION' | translate }}</p>
        <div class="self-start">
          <a [routerLink]="['/mision-vision']">
            <button class="bg-cadet-gray-100 txt-yale-blue-100 px-4 py-2 rounded hover:bg-white text-sm font-semibold">{{
              'GOC_BUTTON' | translate }}</button>
          </a>
        </div>
      </div>

      <!-- Columnas #4-5 -->
      <div class="hidden lg:flex">
        <div class="flex flex-col">
          <img src="assets/images/theotokos.png" alt="Theotokos" class="img-position">
        </div>
      </div>

    </div>
  </div>


  <!-- NIVEL 3 -->
  <div class="bg-yale-blue-100 txt-cadet-gray-100 p-4">
    <div class="mt-2 grid grid-cols-1 sm:grid-cols-3 gap-0 sm:gap-32 mx-8">

      <!-- Columna #1 -->
      <div class="flex flex-col sm:flex-row mb-2 sm:mb-0">
        <div class="flex-1 flex flex-col items-center justify-center text-xs">
          <div class="flex items-center space-x-0.5">
            <p class="text-center">
              <span>Calle Julio Castro E4-55 entre Los Ríos y Av. Gran Colombia</span>
            </p>
            <a href="https://www.google.com/maps?ll=-0.216032,-78.501738&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=18401032396104951378"
              target="_blank" rel="Google Maps" class="text-2xl hover:text-white">
              <ng-icon name="hugeGoogleMaps"></ng-icon>
            </a>
          </div>
          <p class="text-center">Quito - Ecuador</p>
        </div>
      </div>

      <!-- Columna #2 -->
      <div class="flex flex-col items-center justify-center text-xs mb-2 sm:mb-0">
        <p class="text-center">
          <span class="font-bold">{{ 'FOOTER_PHONE' | translate | capitalize }}:</span> 0959103699 - 0997759332
        </p>
        <p class="text-center">
          <span class="font-bold">{{ 'FOOTER_EMAIL' | translate | capitalize }}:</span> iglesiaortodoxa&#64;gmail.com
        </p>
      </div>

      <!-- Columna #3 -->
      <div class="flex flex-col items-center justify-center text-xs">
        <div class="flex space-x-4 mb-2">
          <!-- Iconos Contactos -->
          <a href="https://www.facebook.com/OrtodoxaEcuador/?fref=ts" target="_blank" rel="Facebook"
            class="flex items-center hover:text-white text-2xl">
            <ng-icon name="hugeFacebook01"></ng-icon>
          </a>
          <a href="https://x.com/vlchrysostomos" target="_blank" rel="Twitter"
            class="flex items-center hover:text-white text-2xl">
            <ng-icon name="hugeNewTwitterRectangle"></ng-icon>
          </a>
          <a href="https://www.youtube.com/channel/UC2gX1KgIsDIG6Jp9hdozLOw" target="_blank" rel="YouTube"
            class="flex items-center hover:text-white text-2xl">
            <ng-icon name="hugeYoutube"></ng-icon>
          </a>
          <a href="https://www.instagram.com/iglesiaortodoxa/" target="_blank" rel="Instagram"
            class="flex items-center hover:text-white text-2xl">
            <ng-icon name="hugeInstagram"></ng-icon>
          </a>
        </div>
        <p class="text-center text-xs">&copy; {{ currentYear }} {{ 'GOC_TITLE' | translate | capitalize }}</p>
      </div>
    </div>
  </div>

</footer>